@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, link {
  text-decoration: none;
  cursor: pointer;
}

html {
  font-size: 80%;
  font-family: 'Poppins', sans-serif;
}

/* App */

.App {
  /* background-color: rgba(211, 184, 184, 0.725); */
  min-height: 100vh;
  position: relative;
}


/* Header */

.loggedName {
  font-size: 2rem;
  letter-spacing: .2rem;
  color: rgb(3, 9, 84);
  margin-left: 3rem;
}

.header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header h1 {
  font-size: 2.5rem;
  color: linear-gradient(to right bottom, rgba(0, 0, 255, 0.427), rgba(255, 0, 0, 0.447));;
}

.logo {
  width: 6rem;
  animation: spin 15s linear infinite;
}

.header div:nth-child(1) {
  display: flex;
  align-items: center;
}

.nav__link, .nav__link1 {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all .2s;
}

.nav__link:hover, .nav__link1:hover {
  background-color: rgba(0, 0, 0, 0.677);
  color: white;
  padding: .75rem 2rem;
  border-radius: 1rem;
}

.nav__link:first-child {
  margin-right: 3rem;
}

.nav__link1:last-child {
  margin-left: 3rem;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Banner */

.header__text {
  margin: 1rem auto;
  width: 95%;
}

.welcome-head {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.427), rgba(255, 0, 0, 0.447));
  border-radius: 1.5rem;
  margin:0 3rem 1rem 3rem;
  letter-spacing: .2rem;
  animation: left 4s linear 1000ms;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.734);
}

.caption {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(6, 16, 149);
  margin-bottom: 4rem;
  animation: right 3s linear 1000ms;
}

/* Content */

.content-head {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 2.5rem;
  color: rgba(255, 0, 0, 0.566);
  letter-spacing: .2rem;
  word-spacing: 1rem;
  transition: all .4s;
  margin: 0 5rem;
}

.content-head:hover {
  transform: skewX(30deg);
}

.main {
  padding: 5rem 20rem;
}

/* Page */

.post {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 5rem 10rem;
  border-radius: 2rem;
  margin-bottom: 7rem;
}

.post__img-box {
  flex: 0 0 45%;
  margin-right: 5rem;
  text-align: center;
}

.post__img {
  width: 100%;
  height: 30rem;
  border-radius: 7rem;
  max-height: 40rem;
  text-align: center;
  transition: all .5s;
}

.post__img:hover {
  filter: grayscale(50%);
  box-shadow: .5rem 1rem 3rem rgba(0, 0, 0, 0.75);
  transform: translateY(-1rem);
}


.post__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__texts a  {
  text-decoration: none;
  color: inherit;
}

.post__head {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.post__info {
  margin-bottom: 1.5rem;
  color: grey;
  font-weight: bold;
}

.post__info a {
  text-decoration: none;
  color: grey;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.post__body {
  font-size: 1.6rem;
  text-align: justify;
}

.post__read {
  text-decoration: none;
  color: rgb(6, 16, 149) !important;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.4rem;
}


/* Form */

.form {
  width: 60rem;
  padding: 4rem 8rem;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.121), rgba(128, 128, 128, 0.194));
}

.form h2 {
  text-align: center;
  margin-bottom: 2.2rem;
  font-size: 2.75rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  padding: 1rem;
  width: 100%; 
  font-size: 1.6rem;
  border: 2px solid #ddd;
  border-radius: 1rem;
}

.form button {
  padding: 1rem ;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: .8rem;
  color: black;
  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.427), rgba(255, 0, 0, 0.447));
  transition: all 1s;
  margin-bottom: 1rem;
}

.form button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  letter-spacing: .3rem;
}

form {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 15rem;
}

form button {
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  background: linear-gradient(to right bottom, rgba(0, 0, 255, 0.427), rgba(255, 0, 0, 0.447));
  font-size: 1.8rem;
  border: none;
  transition: all 1s;
}

form button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  letter-spacing: .2rem;
}

form .input:nth-of-type(1), form .input:nth-of-type(2) {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: none;
  outline: 1px solid grey;
}

form .input:nth-of-type(3) {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

/* Post Page Section */

.postpage {
  padding: 0 15% 15em 15%;
}

.postpage__img {
  width: 70%;
  border-radius: 1.2rem;
}

.postpage__img-box {
  margin-bottom: 4rem;
  text-align: center;
  overflow: hidden;
}

.postpage h1 {
  font-size: 2rem;
  margin-bottom: .75rem;
  text-align: center;
}

.postpage time {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #777;
  text-align: center;
}

.postpage__author {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 1.75rem;
  text-align: center;
}

.postpage .text {
  font-size: 1.6rem;
  text-align: justify;
}


/* Edit Section */

.edit {
  text-align: center;
  margin-bottom: 2.2rem;
}

.edit-btn {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: grey;
  color: white;
  padding: .8rem 2.2rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
}

a svg {
  height: 1.5rem;
  margin-right: .5rem;
}

.editor {
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  min-height: 9.5rem;
}

/* Upload */

.upload {
  display: block;
  font-size: 1.3rem;
  color: rgb(6, 16, 149);
  font-weight: bolder;
  margin-top: 2rem;
  margin-bottom: .75rem;
}


/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(235, 231, 231);
  width: 100%;
  padding: .5rem 3rem;
}

.footer .left {
  font-size: 1.4rem;
  grid-column: span 1;
  text-align: center;
}

.footer__logo {
  grid-column: span 1;
  text-align: center;
}

.footer__logo img {
  width: 5rem;
}

.footer .right span {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .right {
  grid-column: span 1;
  text-align: center;
}


/* Tab Responsiveness */

@media screen and (max-width: 1140px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 60%;
  }
  .main {
    padding: 5rem;
  }

  .post {
    background-color: #ddd;
    border-radius: 2rem;
    margin-bottom: 7rem;
    padding: 2rem;
  }

  .post__img-box {
    margin-right: 5rem;
    text-align: center;
  }

  form {
    width: 80%;
  }
}
@media screen and (max-width: 860px) {
  html {
    font-size: 60%;
  }


  .loggedName {
    font-size: 1.2rem;
    letter-spacing: -.07rem;
    color: rgb(3, 9, 84);
    margin-left: .5rem;
  }

  .nav__link, .nav__link1 {
    font-size: 1.3rem;
  }

  .nav__link1:last-child {
    margin-left: 1rem;
  

  

 

 
  

 
  
  

  
}